<form action="{{site.mailchimp-list}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
    <input class="confirm" type="hidden" name="confirm"  /><input class="location" type="hidden" name="location"  /><input class="referrer" type="hidden" name="referrer"  />

    <div class="form-group">
        <input class="subscribe-email" type="email" name="MERGE0" id="MERGE0" size="25" value="" placeholder="youremail@example.com" />
    </div>
    <button class="" type="submit" value="Subscribe" {% unless site.subscribe %}disabled{% endunless %}><span>Subscribe</span></button>
</form>