<!-- Begin Mailchimp Signup Form -->
<form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form" class="wj-contact-form validate" target="_blank" novalidate>
    <input class="confirm" type="hidden" name="confirm"  />
    <input class="location" type="hidden" name="location"  />
    <input class="referrer" type="hidden" name="referrer"  />

    <div class="form-group">
        <input class="subscribe-email" type="email" name="email"  placeholder="youremail@example.com" required />
    </div>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_1e7c95a3add95b4fa6c8370b6_f6bdd71be8" tabindex="-1" value="">
    </div>

    <div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" {% unless site.subscribe %}disabled{% endunless %}>
    </div>

    <script type="text/javascript">(function(g,h,o,s,t){h[o]('.location')[s]=h[o]('.location')[s] || g.location.href;h[o]('.referrer')[s]=h[o]('.referrer')[s] || h.referrer;})(window,document,'querySelector','value');</script>
</form>
<!--End mc_embed_signup-->